<p>
npm install -g grunt-cli bower yo generator-karma generator-angular
<br/>
yo angular weather-report
<br/>
sudo npm install karma —save-dev
<br/>
sudo npm install grunt-karma --save-dev
<br/>
sudo npm install karma karma-jasmine jasmine-core karma-chrome-launcher --save-dev
<br/>
sudo npm install karma-phantomjs-launcher --save-devkarma-phantomjs-launcher --save-dev
<br/>
sudo npm install karma-phantomjs-launcher --save-dev
<br/>
sudo npm install yo angular:service weather-report 
<br/>

npm install 



</p>