<div class="container ">
    <div class="weather-search">
        <div class="row">
            <div>
                <div>
                    <form class="form-inline" role="form" ng-submit="getForecastByCity(city)">
                        <span class="form-group">
                            <label class="sr-only" for="city">City</label>
                            <input ng-model="city" type="text" class="form-control" id="location" placeholder="City" required>
                        </span>
                        <button type="submit" class="btn btn-primary" id="doForcast">Search!</button>
                        <span ng-show="message" class="alert"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{message}}</span>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
            <br/>
        </div>
        <div class="row" ng-show="showReport" ng-repeat="list in forecastData.list">
            <div class="weather panel panel-primary">
                <div class="panel-heading"><span>{{forecastData.city.name}}</span>&nbsp;<span>{{list.dt_txt}}</span></div>
                <div class="panel-body">
                    <div>
                        <p class="lead">
                            <img ng-src="{{getIconImageUrl(list.weather[0].icon)}}" />
                            {{list.main.temp}}&#176;C
                        </p>
                        <p>
                            {{list.weather[0].description}}&nbsp;&#126;&nbsp;
                            High: {{list.main.temp_min}}&#176;C&nbsp;&#126;&nbsp;
                            Low: {{list.main.temp_max}}&#176;C
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

